
div.container {
    display: flex;
    align-self: start;
    justify-self: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
  }
  
  .child {
    display: grid;
    justify-items: center;
    flex: 1 1 600px; /*  Stretching: */
    margin: 2rem 1rem;
  }
  
  div.child h2 {
    margin-bottom: 2rem;
    font-size: clamp(2.8rem, 8vw, 4rem);
    font-family: "Noto Sans", sans-serif;
    justify-self: center;
    text-align: center;
    max-width: 20ch;
    line-height: 1.15;
  }
  
  div.child p {
    max-width: 35ch;
    justify-self: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    color: #707070;
    font-weight: lighter;
    line-height: 1.4;
  }
  
  div.child a {
    text-decoration: none;
    justify-self: start;
    outline: solid #2bd0d1 2px;
    color: white;
    padding: 0.6rem 1rem;
    background-color: #2bd0d1;
    border-radius: 99rem;
    margin-top: 3rem;
    margin-left: 7rem;
    font-size: clamp(1rem, 4vw, 1.25rem);
  }
  
  @media only screen and (max-width: 1010px) {
    div.child a{
      justify-self: center;
      margin-left: 0rem;
    }
  }
  
  img {
    width: 100%;
    max-width: 550px;
  }